body {
    max-width: 1440px;
    font-family: $font;
    font-size: 24px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @media (max-width: 375px) {
        font-size: 12px;
    }
    #root{
        display: flex;
        flex-direction: column;
        gap : 50px;
        @media (max-width: 375px) {
            gap: 27px;       
        }
    }
}

h1 {
    font-size: 48px;
    color: $secondary-color;
    font-weight: 700;

    @media (max-width: 375px) {
        font-size: 24px;
    }
}

h2 {
    font-size: 36px;
    color: $primary-color;

    @media (max-width: 375px) {
        font-size: 18px;
    }
}

h3 {
    font-size: 18px;
    color: $primary-color;
    font-weight: 700px;

    @media (max-width: 375px) {
        font-size: 13px;
    }    
}

a {
    color: $third-color;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

button:hover {
    cursor: pointer;
}