@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @mixin background-opacity($color, $opacity, $border-radius) {
    
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: $color; 
      opacity: $opacity;
      border-radius: $border-radius;
      z-index: 1;

    }
  }