@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @mixin background-opacity($image, $color, $opacity, $border-radius) {
    position: relative;
    background: url($image) local center;
    background-size: cover;
    border-radius: $border-radius;
    

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba($color, $opacity); 
      border-radius: $border-radius;

    }
  }