@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "../../styles/variables";
@import "../../styles/mixins";

footer {
	@include flex-center;
	flex-direction: column;
	background-color: $tertiary-color;
	padding: 65px 0px;
	color: $secondary-color;

	.copyright {
		display: flex;
		font-size: 24px;
		padding-top: 45px;
		@media (max-width: 375px) {
			@include flex-center;
			flex-direction: column;
			font-size: 11px;
			padding-top: 10px;
			line-height: 17px;
		}
	}

	img {
		width: 122px;
	}
}
