@import '../../styles/variables';
@import '../../styles/mixins';

.slideshow {
	position: relative;	
	display: flex;
	align-items: center;
	justify-content: center;
	height: 415px;
	border-radius: $border-radius;
	overflow: hidden;

	&__imageContener {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		transition: transform 0.5s ease-in-out;
	}

	&__image {
		position: absolute;
		width: 1240px;
		height: 415px;
		object-fit: cover;
		opacity: 0;
		transition: opacity 0.5s ease-in-out;

		&.active {
			opacity: 1;
		  }
	}

	&__button {
		position: absolute;
		top: 40%;
		color: $secondary-color;
		border: none;
		padding: 0 10px;
		font-size: 80px;
		z-index: 10;

		&.prev {
			left: 10px;
		}
		
		&.next {
			right: 10px;
		}
	}
}